# ‚öôÔ∏è 1. SZEKCI√ì ‚Äì CSV ‚Üí PostgreSQL el≈ëk√©sz√≠t√©s

### ‚úÖ Hozz l√©tre egy PostgreSQL adatb√°zist ecommerce n√©ven.

In [1]:
import pandas as pd

# csak az els≈ë 100 sort olvassuk be
df_preview = pd.read_csv("ECommerce_consumer_behaviour.csv", nrows=100, encoding='latin1', on_bad_lines='skip')
df_preview.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
0,2425083,49125,1,2,18,NaN,17,1,0,13,pantry,baking ingredients
1,2425083,49125,1,2,18,NaN,91,2,0,16,dairy eggs,soy lactosefree
2,2425083,49125,1,2,18,NaN,36,3,0,16,dairy eggs,butter
3,2425083,49125,1,2,18,NaN,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables
5,2425083,49125,1,2,18,NaN,91,6,0,16,dairy eggs,soy lactosefree
6,2425083,49125,1,2,18,NaN,120,7,0,16,dairy eggs,yogurt
7,2425083,49125,1,2,18,NaN,59,8,0,15,canned goods,canned meals beans
8,2425083,49125,1,2,18,NaN,35,9,0,12,meat seafood,poultry counter
9,1944304,162867,1,3,17,NaN,37,1,0,1,frozen,ice cream ice
10,1944304,162867,1,3,17,NaN,24,2,0,4,produce,fresh fruits
11,1944304,162867,1,3,17,NaN,83,3,0,4,produce,fresh vegetables
12,1944304,162867,1,3,17,NaN,84,4,0,16,dairy eggs,milk
13,1944304,162867,1,3,17,NaN,91,5,0,16,dairy eggs,soy lactosefree
14,1944304,162867,1,3,17,NaN,24,6,0,4,produce,fresh fruits
15,1944304,162867,1,3,17,NaN,24,7,0,4,produce,fresh fruits
16,1944304,162867,1,3,17,NaN,24,8,0,4,produce,fresh fruits
17,1944304,162867,1,3,17,NaN,21,9,0,16,dairy eggs,packaged cheese
18,1944304,162867,1,3,17,NaN,112,10,0,3,bakery,bread
19,1944304,162867,1,3,17,NaN,24,11,0,4,produce,fresh fruits

### ‚úÖ DbGate - Create database

### ‚úÖ DbGate - Create table

CREATE TABLE consumer_behavior (
    order_id INT,
    user_id	INT,
    order_number INT,
    order_dow INT,
    order_hour_of_day INT,
    days_since_prior_order FLOAT,
    product_id INT,
    add_to_cart_order INT,
    reordered INT,
    department_id INT,
    department TEXT, 
    product_name TEXT
);

### ‚úÖ DbGate - Copy data into table

COPY consumer_behavior
FROM '/home/gdaniel1979/hobby_projects/consumer_behavior/ECommerce_consumer_behaviour.csv'
DELIMITER ','
CSV HEADER;

### ‚úÖ √çrj Python k√≥dot, ami megsz√°molja, h√°ny sor ker√ºlt be az adatb√°zisba, √©s √∂sszehasonl√≠tja a CSV sorainak sz√°m√°val ‚Üí ha elt√©r√©s van, jelezzen.

In [5]:
import yaml
import psycopg2
import pandas as pd

# Reading yaml file
with open("/home/gdaniel1979/auth/ecommerce.yaml", "r") as f:
    config = yaml.safe_load(f)

db_config = config["database"]

# Connecting to database
conn = psycopg2.connect(
    host = db_config["host"],
    port = db_config["port"],
    dbname = db_config["dbname"],
    user = db_config["user"],
    password = db_config["password"]
)

# Database count
query = "SELECT COUNT(*) FROM consumer_behavior;"
database_count = pd.read_sql(query, conn)
conn.close()

# CSV count
file_path = "/home/gdaniel1979/hobby_projects/consumer_behavior/ECommerce_consumer_behaviour.csv"
chunksize = 100000

row_count = 0
for chunk in pd.read_csv(file_path, chunksize = chunksize):
    row_count += len(chunk)

database_count = database_count.iloc[0, 0] # Extrating value of the first column, and the first row
print(f"Row count in database: {database_count}")
print(f"Row count in csv: {row_count}")
print(f"Difference: {database_count - row_count}")

/tmp/ipykernel_2874672/3775710739.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  database_count = pd.read_sql(query, conn)

Row count in database: 2019501
Row count in csv: 2019501
Difference: 0

### ‚úÖ K√©sz√≠ts logol√°st: ha egy sor hib√°s √©s nem t√∂lthet≈ë be, √≠rd ki k√ºl√∂n logf√°jlba.
#### Mivel m√°r a t√°bla fel van t√∂ltve adatokkal, ez√©rt t√∂r√∂lni kell a tartalm√°t
#### LOG f√°jl elej√©re f≈±zi mindig az √∫j inform√°ci√≥t (prepend)

In [6]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text 
import yaml
import time
from datetime import datetime
import os
import traceback

# === Settings ===
csv_path = "/home/gdaniel1979/hobby_projects/consumer_behavior/ECommerce_consumer_behaviour.csv"
yaml_path = "/home/gdaniel1979/auth/ecommerce_truncate.yaml"
log_path = "/home/gdaniel1979/hobby_projects/consumer_behavior/load_log.txt"

# === Reading password from yaml file ===
with open(yaml_path, "r") as f:
    creds = yaml.safe_load(f)

# === Connecting to database with SQLAlchemy engine ===
engine = create_engine(
    f"postgresql+psycopg2://{creds['user']}:{creds['password']}@{creds['host']}:{creds['port']}/{creds['database']}"
)

# === Main process ===
start_time = time.time()
total_loaded = 0
total_errors = 0
error_chunks = []

# === Truncate table before load ===
table_name = "consumer_behavior"

with engine.begin() as conn:
    conn.execute(text(f"TRUNCATE TABLE {table_name};"))

# === Load in chunks ===
chunk_size = 50000

for chunk_number, chunk in enumerate(pd.read_csv(csv_path, chunksize = chunk_size), start = 1):
    try:
        chunk.to_sql(table_name, engine, if_exists = "append", index = False)
        total_loaded += len(chunk)
    except Exception as e:
        total_errors += len(chunk)
        error_chunks.append((chunk_number, str(e)))
        traceback.print_exc()

# === Summary info ===
elapsed = time.time() - start_time
timestamp = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

new_log = []
new_log.append("=" * 70)
new_log.append(f"Run summary: {timestamp}")
new_log.append("=" * 70)
new_log.append(f"Table {table_name} loaded.")
new_log.append(f"{total_loaded} rows loaded successfully.")
new_log.append(f"Loading of {total_errors} rows failed.")
new_log.append(f"Elapsed time: {elapsed:.2f} seconds.")

if error_chunks:
    new_log.append("Failed chunks:")
    for num, msg in error_chunks:
        new_log.append(f"   - Chunk {num}: {msg[:120]}") # only the first 120 characters
else:
    new_log.append("Every chunk successfully loaded. ‚úÖ")

new_log.append("\n")

# === Prepend log ===
if os.path.exists(log_path):
    with open(log_path, "r", encoding = "utf-8") as f:
        old_content = f.read()
else:
    old_content = ""

final_log = "\n".join(new_log) + "\n" + old_content

with open(log_path, "w", encoding = "utf-8") as f:
    f.write(final_log)

# === Close engine ===
engine.dispose()
print("Loading finished. Details in log file.")

Loading finished. Details in log file.

# üü¶ 2. SZEKCI√ì ‚Äì SQL lek√©rdez√©sek PostgreSQL-ben

## List√°zd ki az √∂sszes oszlopot LIMIT 10-zel.

SELECT * 
FROM consumer_behavior
LIMIT 10;

## Sz√°mold meg h√°ny egyedi user_id van.

SELECT COUNT(DISTINCT user_id) as "Unique user_id's"
FROM consumer_behavior;

## Melyik department_id-b≈ël van a legt√∂bb term√©k?

SELECT department_id, COUNT(product_name) AS "ProductCount"
FROM consumer_behavior
GROUP BY department_id
ORDER BY COUNT(product_name) DESC
LIMIT 1;

## List√°zd ki, mely product_name szerepel a legt√∂bbsz√∂r.

SELECT product_name, COUNT(product_name) cnt
FROM consumer_behavior
GROUP BY product_name 
ORDER BY cnt DESC
LIMIT 1;

## Sz√°mold ki, h√°ny √∫j rendel√©s (reordered = 0) √©s h√°ny ism√©telt rendel√©s (reordered = 1) van.

SELECT DISTINCT reordered, COUNT(reordered)
FROM consumer_behavior
GROUP BY reordered;

## Melyik order_hour_of_day √©rt√©k a leggyakoribb?

SELECT DISTINCT order_hour_of_day, COUNT(order_hour_of_day) cnt
FROM consumer_behavior
GROUP BY order_hour_of_day
ORDER BY cnt DESC
LIMIT 1;

## Csoportos√≠ts order_dow szerint √©s sz√°mold meg, melyik napon rendelnek a legt√∂bbet.

SELECT DISTINCT order_dow, COUNT(order_dow)
FROM consumer_behavior
GROUP BY order_dow
ORDER BY order_dow DESC
LIMIT 1;

## üü¢ Alap szint ‚Äì Lek√©rdez√©s, sz≈±r√©s, rendez√©s (1‚Äì10)
## List√°zd ki az √∂sszes sort, ahol department = 'produce'

SELECT *
FROM consumer_behavior
WHERE department = 'produce'
LIMIT 10;

## List√°zd azokat a sorokat, ahol a reordered = 1 √©s a department = 'dairy eggs'

SELECT *
FROM consumer_behavior
WHERE department = 'dairy eggs' AND reordered = 1
LIMIT 10;

## Rendezd a v√°s√°rl√°sokat order_hour_of_day szerint n√∂vekv≈ë sorrendbe

SELECT * 
FROM consumer_behavior
ORDER BY order_hour_of_day
LIMIT 10;

## Mutasd meg azokat a sorokat, ahol a days_since_prior_order √©rt√©k nem NULL.

SELECT *
FROM consumer_behavior
WHERE days_since_prior_order IS NOT NULL
LIMIT 10;

## Sz≈±rd le azokat a v√°s√°rl√°sokat, ahol a order_dow √©rt√©ke 0 vagy 6 (h√©tv√©ge).

SELECT *
FROM consumer_behavior
WHERE order_dow = 0 OR order_dow = 6
LIMIT 10;

## List√°zd az els≈ë 5 sort, ahol a add_to_cart_order √©rt√©ke nagyobb, mint 10.

SELECT *
FROM consumer_behavior
WHERE add_to_cart_order > 6
ORDER BY add_to_cart_order
LIMIT 5;

## Mutasd meg, melyik department alatt vannak a legt√∂bb product_name ism√©tl≈ëd√©sek.

SELECT
    department,
    COUNT(*) AS duplicate_product_count
FROM (
    SELECT
        department,
        product_name
    FROM consumer_behavior
    GROUP BY
        department,
        product_name
    HAVING COUNT(*) > 1
) AS repeated_products
GROUP BY
    department
ORDER BY
    duplicate_product_count DESC;

department	duplicate_product_count
personal care	17
pantry	        12
snacks	        11
frozen	        11
dairy eggs	    10
household	    10
beverages	     8
meat seafood	 7
produce	         5
alcohol	         5
dry goods pasta	 5
bakery	         5
canned goods	 5
deli	         5
international	 4
breakfast	     4
babies	         4
bulk	         2
pets	         2
missing	         1
other	         1

## Sz√°mold meg, h√°ny sorban van days_since_prior_order √©rt√©ke NULL.

SELECT COUNT(*)
FROM consumer_behavior
WHERE days_since_prior_order IS NULL;

## Melyik 5 department szerepel a legt√∂bbet a t√°bl√°ban?

SELECT DISTINCT department, COUNT(*) cnt
FROM consumer_behavior
GROUP BY department
ORDER BY cnt DESC
LIMIT 5;

## H√°ny k√ºl√∂nb√∂z≈ë department szerepel az adatokban?

SELECT DISTINCT department
FROM consumer_behavior;

## üü° K√∂z√©pszint ‚Äì Csoportos√≠t√°s, aggreg√°l√°s (11‚Äì25)
## Sz√°mold meg, h√°ny rendel√©s (order_id) tartalmazott t√∂bb mint 10 term√©ket.

WITH cte AS (
    SELECT order_id, COUNT(product_name) product_name_cnt
    FROM consumer_behavior
    GROUP BY order_id
    HAVING COUNT(product_name) > 10)
SELECT COUNT(*)
FROM cte;

## Sz√°mold meg, h√°ny rendel√©shez tartozik legal√°bb 1 √∫jrarendelt (reordered = 1) term√©k.

WITH cte AS (
    SELECT order_id, COUNT(reordered) reordered
    FROM consumer_behavior
    WHERE reordered = 1
    GROUP BY order_id)
SELECT COUNT(*)
FROM cte;

## Sz√°mold ki, h√°ny term√©k szerepel √°tlagosan egy order_id alatt.

WITH cte AS (
    SELECT order_id, COUNT(add_to_cart_order) cart_size
    FROM consumer_behavior
    GROUP BY order_id)
SELECT AVG(cart_size)
FROM cte;

## Sz√°mold ki, h√°ny k√ºl√∂nb√∂z≈ë product_id tartozik az egyes department_id-khoz.

SELECT department, COUNT(DISTINCT product_id) product_cnt
FROM consumer_behavior
GROUP BY department;

## H√°ny k√ºl√∂nb√∂z≈ë product_name-et rendeltek az adott user_id felhaszn√°l√≥k √∂sszesen? (Felhaszn√°l√≥nk√©nt azt szeretn√© tudni a k√©rd√©s, hogy √∂sszesen h√°ny k√ºl√∂nb√∂z≈ë term√©ket rendelt √©lete sor√°n (az √∂sszes rendel√©s√©t figyelembe v√©ve)

SELECT user_id, COUNT(DISTINCT product_name) product_cnt
FROM consumer_behavior
GROUP BY user_id
ORDER BY product_cnt;

## H√°ny k√ºl√∂nb√∂z≈ë nap (order_dow) alatt rendeltek egy-egy user_id felhaszn√°l√≥k?

SELECT user_id, COUNT(DISTINCT order_dow) order_dow_cnt
FROM consumer_behavior
GROUP BY user_id
ORDER BY order_dow_cnt;

## Csoportos√≠ts order_dow szerint, √©s add meg az √°tlagos order_hour_of_day √©rt√©ket naponta.

SELECT order_dow, ROUND(AVG(order_hour_of_day), 2) avg_order_hour
FROM consumer_behavior
GROUP BY order_dow;

## Sz√°mold meg, h√°ny √∫j term√©ket (reordered = 0) rendeltek az egyes departmentekben.

SELECT department, COUNT(*)
FROM consumer_behavior
WHERE reordered = 0
GROUP BY department;

## Sz√°mold meg, h√°ny √∫jrarendelt term√©k (reordered = 1) van departmentenk√©nt.

SELECT department, COUNT(*)
FROM consumer_behavior
WHERE reordered = 1
GROUP BY department;

## K√©sz√≠ts kimutat√°st: departmentenk√©nt a rendel√©sek sz√°m√°t √©s a k√ºl√∂nb√∂z≈ë product_id-k sz√°m√°t.

SELECT department, COUNT(DISTINCT order_id) order_cnt , COUNT(DISTINCT product_id) distinct_product_cnt
FROM consumer_behavior
GROUP BY department;

## Melyik user_id adta le a legt√∂bb rendel√©st?

SELECT user_id, COUNT(DISTINCT(order_id)) order_cnt
FROM consumer_behavior
GROUP BY user_id
ORDER BY order_cnt DESC
LIMIT 1;

## Melyik user_id v√°s√°rolta a legt√∂bb k√ºl√∂nb√∂z≈ë product_id-t?

SELECT user_id, COUNT(DISTINCT(product_id)) product_id_cnt
FROM consumer_behavior
GROUP BY user_id
ORDER BY product_id_cnt DESC
LIMIT 1;

## H√°ny user_id v√°s√°rolt legal√°bb 3 k√ºl√∂nb√∂z≈ë departmentb≈ël?

WITH cte AS (
    SELECT user_id, COUNT(DISTINCT(department)) department_cnt
    FROM consumer_behavior
    GROUP BY user_id
    HAVING COUNT(DISTINCT(department)) >= 3)
SELECT COUNT(*)
FROM cte;

## Sz√°mold meg, h√°ny rendel√©sben (order_id) van t√∂bb, mint egy azonos term√©k (product_id).

WITH cte AS (
    SELECT order_id, COUNT(product_id) product_cnt, COUNT(DISTINCT(product_id)) distinct_product_cnt
    FROM consumer_behavior
    GROUP BY order_id
    HAVING COUNT(product_id) > COUNT(DISTINCT(product_id)))
SELECT COUNT(*)
FROM cte;

## üü† Halad√≥bb ‚Äì Elemz√©s √©s ar√°nyok (26‚Äì40)
## Sz√°mold ki, hogy az √∂sszes rendel√©s k√∂z√ºl h√°ny sz√°zal√©knyi rendel√©s tartalmaz legal√°bb egy √∫jrarendelt (reordered = 1) term√©ket.

WITH cte AS (
    SELECT 
        order_id,
        MAX(CASE WHEN reordered = 1 THEN 1 ELSE 0 END) AS has_reordered
    FROM consumer_behavior
    GROUP BY order_id
)
SELECT 
    ROUND(SUM(has_reordered)::numeric / COUNT(*) * 100, 2) AS reordered_order_percentage
FROM cte;

## Hasonl√≠tsd √∂ssze a reordered = 0 √©s reordered = 1 ar√°ny√°t departmentenk√©nt.

WITH cte AS(
    SELECT 
        department, 
        COUNT(CASE WHEN reordered = 1 THEN 1 END) AS re,
        COUNT(CASE WHEN reordered = 0 THEN 1 END) AS new,
        COUNT(*) AS total
    FROM consumer_behavior
    GROUP BY department
)
SELECT 
    department,
    ROUND(re * 100.0 / total, 2) AS reordered_perc_per_dep,
    ROUND(new * 100.0 / total, 2) AS new_perc_per_dep
FROM cte;

## Sz√°mold meg, h√°ny felhaszn√°l√≥nak volt legal√°bb egy ism√©telt rendel√©se.

SELECT COUNT(*)
FROM
    (SELECT user_id
    FROM consumer_behavior
    WHERE reordered = 1
    GROUP BY user_id) as sub;

## Mennyi az √°tlagos days_since_prior_order √©rt√©k azokn√°l a rendel√©sekn√©l, ahol van √∫jrarendel√©s?

SELECT AVG(days_since_prior_order)
FROM
    (SELECT 
        DISTINCT order_id, 
        days_since_prior_order
    FROM consumer_behavior
    WHERE reordered = 1) AS sub;

## K√©sz√≠ts kimutat√°st, melyik napszakban (order_hour_of_day) a legnagyobb az √∫jrarendel√©si ar√°ny.

WITH cte AS
    (SELECT 
        order_hour_of_day,
        COUNT(CASE WHEN reordered = 1 THEN 1 END) AS reordered_cnt,
        COUNT(*) AS total_cnt
    FROM consumer_behavior
    GROUP BY order_hour_of_day
    ORDER BY order_hour_of_day)
SELECT 
    order_hour_of_day
    ,reordered_cnt * 100.0 / total_cnt AS re_perc
FROM cte
ORDER BY re_perc DESC
LIMIT 1;

Egyszer≈±bben:
SELECT 
    order_hour_of_day,
    COUNT(CASE WHEN reordered = 1 THEN 1 END) * 100.0 / COUNT(*) AS re_perc
FROM consumer_behavior
GROUP BY order_hour_of_day
ORDER BY re_perc DESC
LIMIT 1;

## Csoportos√≠ts department szerint, √©s sz√°mold ki, h√°ny sz√°zal√©k√°t teszik ki az √∫jrarendel√©sek

SELECT
    department
    ,ROUND(COUNT(CASE WHEN reordered = 1 THEN 1 END) *100.0 / COUNT(*), 2) AS ujrarendelesek_aranya
FROM consumer_behavior
GROUP BY department;

## Melyik 3 department-ben a legmagasabb az √∫jrarendel√©si ar√°ny?

SELECT
    department
    ,ROUND(COUNT(CASE WHEN reordered = 1 THEN 1 END) *100.0 / COUNT(*), 2) AS ujrarendelesek_aranya
FROM consumer_behavior
GROUP BY department
ORDER BY ujrarendelesek_aranya DESC
LIMIT 3;

## Melyik 3 department-ben a legalacsonyabb az √∫jrarendel√©si ar√°ny?

SELECT
    department
    ,ROUND(COUNT(CASE WHEN reordered = 1 THEN 1 END) *100.0 / COUNT(*), 2) AS ujrarendelesek_aranya
FROM consumer_behavior
GROUP BY department
ORDER BY ujrarendelesek_aranya
LIMIT 3;

## A ‚Äûproduce‚Äù (gy√ºm√∂lcs√∂k/z√∂lds√©gek) department rendel√©seit vizsg√°lva melyik h√©t napj√°n (order_dow) t√∂rt√©nik a legt√∂bb rendel√©s?

SELECT 
    order_dow
    ,COUNT(*) cnt
FROM consumer_behavior
WHERE department = 'produce'
GROUP BY order_dow
ORDER BY cnt DESC
LIMIT 1;

## Melyik √≥r√°ban (order_hour_of_day) v√°s√°rolj√°k leggyakrabban a dairy eggs term√©keket?

SELECT 
    order_hour_of_day
    ,COUNT(*) cnt
FROM consumer_behavior
WHERE department = 'dairy eggs'
GROUP BY order_hour_of_day
ORDER BY cnt DESC
LIMIT 1;

## H√°ny felhaszn√°l√≥nak van legal√°bb 10 rendel√©se?

SELECT COUNT(*)
FROM (
    SELECT
        DISTINCT user_id
        ,order_number
    FROM consumer_behavior
    WHERE order_number > 9) AS sub;

## H√°ny olyan felhaszn√°l√≥ van, aki kiz√°r√≥lag produce departmentb≈ël v√°s√°rolt?

WITH cte AS (
    SELECT
        DISTINCT user_id
        ,department
    FROM consumer_behavior
    WHERE department = 'produce')
SELECT COUNT(*)
FROM cte;

## Melyik departmentben a legnagyobb az √°tfed√©s (ugyanaz a user t√∂bb departmentb≈ël v√°s√°rol)?

WITH user_dept AS (
    SELECT 
        user_id,
        COUNT(DISTINCT department) AS dept_cnt
    FROM consumer_behavior
    GROUP BY user_id
    HAVING COUNT(DISTINCT department) > 1),
dept_users AS (
    SELECT 
        department,
        COUNT(DISTINCT user_id) AS overlapping_users
    FROM consumer_behavior
    WHERE user_id IN (SELECT user_id FROM user_dept)
    GROUP BY department)
SELECT
    department
    ,overlapping_users
FROM dept_users
ORDER BY overlapping_users DESC
LIMIT 1;

## Sz√°mold ki, az add_to_cart_order √°tlagos √©rt√©ke hogyan v√°ltozik napszakonk√©nt.

SELECT 
    order_hour_of_day,
    ROUND(AVG(add_to_cart_order), 2) AS avg_add_to_cart_order
FROM consumer_behavior
GROUP BY order_hour_of_day
ORDER BY order_hour_of_day;

## üîµ Komplex ‚Äì T√∂bb t√°bl√°s logika helyett √∂sszetettebb egyt√°bl√°s feladatok (41‚Äì50)
## Azonos√≠tsd, mely term√©kek (product_name) ker√ºlnek leggyakrabban a kos√°r els≈ë hely√©re (add_to_cart_order = 1).

SELECT 
    product_name
    ,COUNT(add_to_cart_order) cnt
FROM consumer_behavior
WHERE add_to_cart_order = 1
GROUP BY product_name
ORDER BY cnt DESC;

## Azonos√≠tsd, mely term√©kek a leggyakrabban utols√≥k a kos√°rban (add_to_cart_order legnagyobb √©rt√©k per order_id).

WITH cte AS (
    SELECT
        order_id
        ,product_name
        ,add_to_cart_order
        ,ROW_NUMBER() OVER (partition by order_id order by add_to_cart_order DESC) rn
    FROM consumer_behavior),
cte2 AS (
    SELECT 
        order_id
        ,product_name
        ,add_to_cart_order
    FROM cte
    WHERE rn = 1)
SELECT 
    product_name
    ,COUNT(add_to_cart_order) cnt
FROM cte2
GROUP BY product_name
ORDER BY cnt DESC
LIMIT 10;

----------------------------------------
PostgreSQL specifikus megold√°s:

SELECT 
    product_name
    ,COUNT(add_to_cart_order) cnt
FROM (
    SELECT DISTINCT ON (order_id)
        order_id,
        product_name,
        add_to_cart_order
    FROM consumer_behavior
    ORDER BY order_id, add_to_cart_order DESC) AS sub
GROUP BY product_name
ORDER BY cnt DESC
LIMIT 10;

## Sz√°mold meg, h√°ny egyedi order_id tartalmaz duplik√°lt product_id √©rt√©keket.

WITH cte AS (
    SELECT
        order_id
        ,product_id
        ,DENSE_RANK() OVER(partition by order_id order by product_id) AS denserank
    FROM consumer_behavior),
cte2 AS (
    SELECT 
        order_id
        ,MAX(denserank) OVER(partition by order_id order by order_id) AS maximum
    FROM cte),
cte3 AS (
    SELECT
        order_id
        ,COUNT(*) AS darab
        ,MAX(maximum) AS ertek
    FROM cte2
    GROUP BY order_id
    ORDER BY order_id)
SELECT SUM(CASE WHEN darab - ertek <> 0 THEN 1 ELSE 0 END) as eredmeny
FROM cte3;
--------------------------------------------------------------------------------------------------

SELECT COUNT(DISTINCT order_id) AS duplikalt_rendelesek
FROM (
    SELECT 
        order_id,
        product_id
    FROM consumer_behavior
    GROUP BY order_id, product_id
    HAVING COUNT(*) > 1
) AS duplicates;

## Sz√°mold ki, hogy az egyes department kateg√≥ri√°kban √°tlagosan h√°ny term√©k ker√ºl a kos√°rba.

SELECT 
    department
    ,ROUND(AVG(product_cnt), 2) AS avg_product_cnt
FROM (
    SELECT
        department
        ,order_id
        ,COUNT(product_id) product_cnt
    FROM consumer_behavior
    GROUP BY department, order_id) AS sub
GROUP BY department
ORDER BY department;

## K√©sz√≠ts rangsort: mely departmentekben a leggyakoribb, hogy a days_since_prior_order > 20.

WITH cte AS (
    SELECT
        department
        ,COUNT(days_since_prior_order) cnt
    FROM consumer_behavior
    WHERE days_since_prior_order > 20
    GROUP BY department)
SELECT
    department
    ,ROW_NUMBER() OVER(order by cnt DESC)
FROM cte;

## Sz√°mold meg, hogy egy rendel√©sben √°tlagosan h√°ny k√ºl√∂nb√∂z≈ë department szerepel.

SELECT
    ROUND(AVG(cnt)) AS avg_department_cnt_per_order
FROM (
    SELECT
        order_id
        ,COUNT(DISTINCT department) cnt
    FROM consumer_behavior
    GROUP BY order_id) AS sub;

## K√©sz√≠ts kimutat√°st, hogy h√°ny k√ºl√∂nb√∂z≈ë department van felhaszn√°l√≥nk√©nt, √©s mi az √°tlaguk.

WITH cte AS (
    SELECT
        user_id
        ,COUNT(DISTINCT department) department_cnt
    FROM consumer_behavior
    GROUP BY user_id)
SELECT ROUND(AVG(department_cnt), 2)
FROM cte;

## Sz√°mold ki az √∫jrarendel√©si ar√°nyt (reordered = 1 ar√°ny) user_id szerint, majd sorold a top 10 legh≈±s√©gesebb v√°s√°rl√≥t.

WITH cte AS (
    SELECT
        user_id
        ,COUNT(CASE WHEN reordered = 0 THEN 1 END) AS new_order
        ,COUNT(CASE WHEN reordered = 1 THEN 1 END) AS re_order
    FROM consumer_behavior
    GROUP BY user_id)
SELECT
    user_id
    ,ROUND(re_order * 100.0 / (new_order + re_order), 2) reorder_percentage
FROM cte
ORDER BY reorder_percentage DESC
LIMIT 10;

# üîÅ 3. SZEKCI√ì ‚Äì Python alapgyakorlatok (list, dict, string)

## Olvasd be a CSV els≈ë 50 sor√°t.

In [1]:
import pandas as pd

df = pd.read_csv("ECommerce_consumer_behaviour.csv", encoding='utf-8', sep=',', nrows=5000)
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
0,2425083,49125,1,2,18,NaN,17,1,0,13,pantry,baking ingredients
1,2425083,49125,1,2,18,NaN,91,2,0,16,dairy eggs,soy lactosefree
2,2425083,49125,1,2,18,NaN,36,3,0,16,dairy eggs,butter
3,2425083,49125,1,2,18,NaN,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables

## √çrj ciklust: sz√°mold meg, h√°ny sor tartalmaz fresh fruits.

In [32]:
print(df.columns)

Index(['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'product_id', 'add_to_cart_order',
       'reordered', 'department_id', 'department', 'product_name'],
      dtype='object')

In [33]:
count = 0
product = 'fresh fruits'
for value in df['product_name']:
    if value == product:
        count += 1
count

606

## Hozz l√©tre egy set-et az √∂sszes department n√©vb≈ël.

In [34]:
departments = set(df['department'].dropna())
departments

{'alcohol',
 'babies',
 'bakery',
 'beverages',
 'breakfast',
 'bulk',
 'canned goods',
 'dairy eggs',
 'deli',
 'dry goods pasta',
 'frozen',
 'household',
 'international',
 'meat seafood',
 'missing',
 'other',
 'pantry',
 'personal care',
 'pets',
 'produce',
 'snacks'}

## K√©sz√≠ts egy dictionary-t, amely azt t√°rolja, hogy h√°ny term√©k van departmentenk√©nt.

In [35]:
df['department'].value_counts().to_dict()

{'produce': 1506,
 'dairy eggs': 858,
 'snacks': 446,
 'beverages': 413,
 'frozen': 330,
 'pantry': 254,
 'bakery': 192,
 'canned goods': 160,
 'deli': 156,
 'dry goods pasta': 129,
 'household': 112,
 'meat seafood': 106,
 'breakfast': 105,
 'personal care': 72,
 'babies': 71,
 'international': 35,
 'alcohol': 20,
 'pets': 12,
 'missing': 11,
 'bulk': 8,
 'other': 4}

In [36]:
department_counts = {}
for dept in df['department']:
    if pd.notna(dept):
        if dept not in department_counts:
            department_counts[dept] = 1
        else:
            department_counts[dept] += 1
sorted(department_counts.items(), key=lambda x: x[1], reverse=True)

[('produce', 1506),
 ('dairy eggs', 858),
 ('snacks', 446),
 ('beverages', 413),
 ('frozen', 330),
 ('pantry', 254),
 ('bakery', 192),
 ('canned goods', 160),
 ('deli', 156),
 ('dry goods pasta', 129),
 ('household', 112),
 ('meat seafood', 106),
 ('breakfast', 105),
 ('personal care', 72),
 ('babies', 71),
 ('international', 35),
 ('alcohol', 20),
 ('pets', 12),
 ('missing', 11),
 ('bulk', 8),
 ('other', 4)]

## Rendezd a dept ‚Üí count dictionary-t √©rt√©k szerint cs√∂kken≈ëen.

In [37]:
df['department'].value_counts().to_dict()

{'produce': 1506,
 'dairy eggs': 858,
 'snacks': 446,
 'beverages': 413,
 'frozen': 330,
 'pantry': 254,
 'bakery': 192,
 'canned goods': 160,
 'deli': 156,
 'dry goods pasta': 129,
 'household': 112,
 'meat seafood': 106,
 'breakfast': 105,
 'personal care': 72,
 'babies': 71,
 'international': 35,
 'alcohol': 20,
 'pets': 12,
 'missing': 11,
 'bulk': 8,
 'other': 4}

## Sz≈±rd ki azokat a sorokat, ahol reordered == 1, √©s tedd list√°ba.

In [44]:
filtered_df = df[df['reordered'] == 1]
rows_as_list = filtered_df['department'].values.tolist()
rows_as_list

['produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'bakery',
 'dairy eggs',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'beverages',
 'pantry',
 'beverages',
 'dairy eggs',
 'beverages',
 'produce',
 'snacks',
 'household',
 'household',
 'dairy eggs',
 'personal care',
 'babies',
 'produce',
 'snacks',
 'personal care',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'meat seafood',
 'deli',
 'produce',
 'snacks',
 'beverages',
 'produce',
 'meat seafood',
 'produce',
 'meat seafood',
 'meat seafood',
 'produce',
 'deli',
 'bakery',
 'pantry',
 'dairy eggs',
 'frozen',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'bakery',
 'snacks',
 'beverages',
 'canned goods',
 'deli',
 'pantry',
 'household',
 'produce',
 'snacks',
 'canned goods',
 'dry goods pasta',
 'dairy eggs',
 'dairy eggs',
 'dry goods pasta',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'dry goods pasta',
 'dairy eggs',
 'beverages',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'breakfast',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'beverages',
 'missing',
 'dairy eggs',
 'produce',
 'produce',
 'household',
 'beverages',
 'snacks',
 'produce',
 'missing',
 'dairy eggs',
 'frozen',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'pantry',
 'personal care',
 'beverages',
 'beverages',
 'snacks',
 'dairy eggs',
 'dairy eggs',
 'frozen',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'snacks',
 'canned goods',
 'snacks',
 'pantry',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'frozen',
 'deli',
 'pantry',
 'produce',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'frozen',
 'deli',
 'household',
 'deli',
 'produce',
 'dairy eggs',
 'produce',
 'bakery',
 'beverages',
 'dry goods pasta',
 'dairy eggs',
 'bakery',
 'frozen',
 'dairy eggs',
 'dairy eggs',
 'beverages',
 'beverages',
 'alcohol',
 'snacks',
 'produce',
 'household',
 'dairy eggs',
 'alcohol',
 'frozen',
 'international',
 'breakfast',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'frozen',
 'bakery',
 'pantry',
 'produce',
 'produce',
 'frozen',
 'snacks',
 'beverages',
 'snacks',
 'produce',
 'snacks',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'beverages',
 'produce',
 'produce',
 'pantry',
 'canned goods',
 'produce',
 'meat seafood',
 'international',
 'dairy eggs',
 'canned goods',
 'pantry',
 'produce',
 'deli',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'produce',
 'beverages',
 'snacks',
 'produce',
 'beverages',
 'produce',
 'dairy eggs',
 'household',
 'dairy eggs',
 'meat seafood',
 'pantry',
 'dairy eggs',
 'pantry',
 'snacks',
 'produce',
 'snacks',
 'snacks',
 'snacks',
 'dairy eggs',
 'produce',
 'bakery',
 'deli',
 'snacks',
 'snacks',
 'snacks',
 'breakfast',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'snacks',
 'snacks',
 'bakery',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'bakery',
 'bakery',
 'frozen',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'produce',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'beverages',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'beverages',
 'household',
 'dairy eggs',
 'pantry',
 'breakfast',
 'produce',
 'dairy eggs',
 'produce',
 'pantry',
 'dairy eggs',
 'produce',
 'canned goods',
 'bakery',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'frozen',
 'snacks',
 'beverages',
 'dry goods pasta',
 'alcohol',
 'alcohol',
 'produce',
 'produce',
 'beverages',
 'dry goods pasta',
 'international',
 'household',
 'snacks',
 'frozen',
 'bakery',
 'dairy eggs',
 'produce',
 'beverages',
 'produce',
 'canned goods',
 'snacks',
 'beverages',
 'produce',
 'produce',
 'produce',
 'beverages',
 'babies',
 'dairy eggs',
 'bakery',
 'produce',
 'produce',
 'deli',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'produce',
 'snacks',
 'canned goods',
 'dairy eggs',
 'bakery',
 'pantry',
 'breakfast',
 'pantry',
 'bakery',
 'produce',
 'produce',
 'canned goods',
 'produce',
 'dairy eggs',
 'breakfast',
 'dairy eggs',
 'deli',
 'produce',
 'beverages',
 'beverages',
 'frozen',
 'household',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'beverages',
 'pets',
 'beverages',
 'pets',
 'babies',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'bakery',
 'frozen',
 'beverages',
 'frozen',
 'frozen',
 'frozen',
 'dairy eggs',
 'produce',
 'pantry',
 'snacks',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'beverages',
 'beverages',
 'beverages',
 'beverages',
 'beverages',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'snacks',
 'produce',
 'frozen',
 'dairy eggs',
 'produce',
 'deli',
 'produce',
 'produce',
 'produce',
 'deli',
 'dairy eggs',
 'dairy eggs',
 'beverages',
 'produce',
 'produce',
 'deli',
 'produce',
 'deli',
 'pantry',
 'dairy eggs',
 'produce',
 'produce',
 'snacks',
 'beverages',
 'snacks',
 'dry goods pasta',
 'frozen',
 'dairy eggs',
 'produce',
 'meat seafood',
 'dairy eggs',
 'snacks',
 'produce',
 'pantry',
 'snacks',
 'pantry',
 'pantry',
 'pantry',
 'dairy eggs',
 'dairy eggs',
 'frozen',
 'beverages',
 'produce',
 'dairy eggs',
 'produce',
 'beverages',
 'snacks',
 'dairy eggs',
 'frozen',
 'snacks',
 'deli',
 'babies',
 'produce',
 'babies',
 'produce',
 'produce',
 'pantry',
 'bakery',
 'beverages',
 'snacks',
 'dry goods pasta',
 'household',
 'snacks',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'produce',
 'dairy eggs',
 'meat seafood',
 'beverages',
 'produce',
 'produce',
 'produce',
 'produce',
 'bulk',
 'household',
 'bakery',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'frozen',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'snacks',
 'pantry',
 'breakfast',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'pantry',
 'canned goods',
 'canned goods',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'household',
 'bakery',
 'produce',
 'produce',
 'snacks',
 'beverages',
 'meat seafood',
 'pantry',
 'pantry',
 'beverages',
 'frozen',
 'beverages',
 'frozen',
 'produce',
 'snacks',
 'frozen',
 'dairy eggs',
 'breakfast',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'deli',
 'dry goods pasta',
 'frozen',
 'beverages',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'produce',
 'bakery',
 'dairy eggs',
 'breakfast',
 'snacks',
 'snacks',
 'snacks',
 'frozen',
 'snacks',
 'snacks',
 'frozen',
 'dairy eggs',
 'beverages',
 'dry goods pasta',
 'breakfast',
 'dairy eggs',
 'produce',
 'produce',
 'produce',
 'beverages',
 'snacks',
 'dry goods pasta',
 'dry goods pasta',
 'beverages',
 'produce',
 'dairy eggs',
 'bakery',
 'produce',
 'produce',
 'personal care',
 'frozen',
 'dairy eggs',
 'dairy eggs',
 'snacks',
 'produce',
 'bakery',
 'dairy eggs',
 'deli',
 'dairy eggs',
 'snacks',
 'canned goods',
 'produce',
 'pantry',
 'beverages',
 'snacks',
 'produce',
 'personal care',
 'bakery',
 'produce',
 'produce',
 'produce',
 'produce',
 'dry goods pasta',
 'produce',
 'snacks',
 'snacks',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'canned goods',
 'frozen',
 'frozen',
 'beverages',
 'dairy eggs',
 'dry goods pasta',
 'dairy eggs',
 'frozen',
 'canned goods',
 'snacks',
 'canned goods',
 'canned goods',
 'frozen',
 'frozen',
 'produce',
 'pantry',
 'dairy eggs',
 'produce',
 'missing',
 'canned goods',
 'dairy eggs',
 'beverages',
 'frozen',
 'snacks',
 'snacks',
 'frozen',
 'frozen',
 'dairy eggs',
 'produce',
 'snacks',
 'produce',
 'deli',
 'dairy eggs',
 'canned goods',
 'pantry',
 'pantry',
 'produce',
 'household',
 'snacks',
 'produce',
 'beverages',
 'dairy eggs',
 'beverages',
 'produce',
 'bakery',
 'personal care',
 'produce',
 'deli',
 'beverages',
 'dairy eggs',
 'produce',
 'produce',
 'bakery',
 'snacks',
 'produce',
 'missing',
 'beverages',
 'dairy eggs',
 'frozen',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'beverages',
 'frozen',
 'dairy eggs',
 'household',
 'snacks',
 'beverages',
 'deli',
 'dairy eggs',
 'beverages',
 'produce',
 'bakery',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'breakfast',
 'bakery',
 'beverages',
 'produce',
 'produce',
 'deli',
 'produce',
 'produce',
 'produce',
 'snacks',
 'dairy eggs',
 'international',
 'snacks',
 'meat seafood',
 'snacks',
 'produce',
 'canned goods',
 'canned goods',
 'dairy eggs',
 'produce',
 'beverages',
 'beverages',
 'beverages',
 'dairy eggs',
 'snacks',
 'beverages',
 'dairy eggs',
 'bakery',
 'dry goods pasta',
 'beverages',
 'household',
 'household',
 'produce',
 'produce',
 'produce',
 'produce',
 'snacks',
 'produce',
 'produce',
 'household',
 'breakfast',
 'beverages',
 'produce',
 'dry goods pasta',
 'deli',
 'dry goods pasta',
 'produce',
 'produce',
 'produce',
 'frozen',
 'dairy eggs',
 'produce',
 'produce',
 'snacks',
 'produce',
 'snacks',
 'dairy eggs',
 'produce',
 'produce',
 'frozen',
 'frozen',
 'beverages',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'beverages',
 'beverages',
 'deli',
 'meat seafood',
 'produce',
 'personal care',
 'pantry',
 'pantry',
 'pantry',
 'breakfast',
 'breakfast',
 'dairy eggs',
 'produce',
 'frozen',
 'frozen',
 'frozen',
 'beverages',
 'bakery',
 'frozen',
 'produce',
 'produce',
 'beverages',
 'canned goods',
 'produce',
 'bulk',
 'bakery',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'produce',
 'household',
 'produce',
 'produce',
 'household',
 'produce',
 'produce',
 'dairy eggs',
 'meat seafood',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'snacks',
 'produce',
 'produce',
 'snacks',
 'snacks',
 'snacks',
 'produce',
 'produce',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'pantry',
 'produce',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'produce',
 'produce',
 'snacks',
 'breakfast',
 'dairy eggs',
 'snacks',
 'bakery',
 'snacks',
 'beverages',
 'snacks',
 'beverages',
 'beverages',
 'household',
 'dairy eggs',
 'canned goods',
 'household',
 'dairy eggs',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'canned goods',
 'dry goods pasta',
 'dairy eggs',
 'dairy eggs',
 'snacks',
 'produce',
 'snacks',
 'snacks',
 'deli',
 'produce',
 'produce',
 'frozen',
 'household',
 'pantry',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'frozen',
 'dairy eggs',
 'snacks',
 'dairy eggs',
 'frozen',
 'bakery',
 'dairy eggs',
 'dairy eggs',
 'bakery',
 'deli',
 'bakery',
 'canned goods',
 'snacks',
 'beverages',
 'pantry',
 'dairy eggs',
 'dairy eggs',
 'babies',
 'produce',
 'snacks',
 'produce',
 'international',
 'beverages',
 'household',
 'dairy eggs',
 'beverages',
 'meat seafood',
 'dairy eggs',
 'dairy eggs',
 'personal care',
 'personal care',
 'frozen',
 'snacks',
 'breakfast',
 'frozen',
 'beverages',
 'deli',
 'bakery',
 'breakfast',
 'snacks',
 'bakery',
 'produce',
 'produce',
 'canned goods',
 'frozen',
 'pantry',
 'produce',
 'snacks',
 'frozen',
 'deli',
 'dairy eggs',
 'produce',
 'bakery',
 'produce',
 'produce',
 'produce',
 'produce',
 'bakery',
 'dairy eggs',
 'snacks',
 'frozen',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'personal care',
 'produce',
 'dairy eggs',
 'household',
 'pantry',
 'snacks',
 'produce',
 'snacks',
 'produce',
 'breakfast',
 'produce',
 'beverages',
 'bakery',
 'produce',
 'personal care',
 'produce',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'produce',
 'dairy eggs',
 'beverages',
 'snacks',
 'pantry',
 'produce',
 'beverages',
 'produce',
 'beverages',
 'produce',
 'bakery',
 'snacks',
 'breakfast',
 'deli',
 'produce',
 'dairy eggs',
 'frozen',
 'personal care',
 'frozen',
 'produce',
 'produce',
 'dairy eggs',
 'beverages',
 'dairy eggs',
 'beverages',
 'dairy eggs',
 'bakery',
 'dairy eggs',
 'bakery',
 'deli',
 'deli',
 'dairy eggs',
 'international',
 'pantry',
 'produce',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'babies',
 'canned goods',
 'babies',
 'household',
 'produce',
 'dairy eggs',
 'produce',
 'snacks',
 'dairy eggs',
 'beverages',
 'household',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'dairy eggs',
 'produce',
 'dry goods pasta',
 'frozen',
 'beverages',
 'dairy eggs',
 'produce',
 'produce',
 'frozen',
 'dairy eggs',
 'frozen',
 'produce',
 'frozen',
 'beverages',
 'dairy eggs',
 'dairy eggs',
 'produce',
 'pantry',
 'produce',
 'produce',
 'beverages',
 'international',
 'pantry',
 'frozen',
 'bakery',
 'dairy eggs',
 'household',
 'beverages',
 'bakery',
 'beverages',
 'breakfast',
 'household',
 'household',
 'dairy eggs',
 'produce',
 'produce',
 'dairy eggs',
 'dairy eggs',
 'meat seafood',
 'produce',
 'produce',
 'snacks',
 'dairy eggs',
 ...]

## √çrj k√≥dot, amely megn√©zi, van-e duplik√°lt product_id a mint√°ban.

In [5]:
df['product_id'].duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
4995     True
4996     True
4997     True
4998     True
4999     True
Name: product_id, Length: 5000, dtype: bool

In [9]:
duplicates = df[df['product_id'].duplicated()]
duplicates

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables
5,2425083,49125,1,2,18,NaN,91,6,0,16,dairy eggs,soy lactosefree
11,1944304,162867,1,3,17,NaN,83,3,0,4,produce,fresh vegetables
13,1944304,162867,1,3,17,NaN,91,5,0,16,dairy eggs,soy lactosefree
14,1944304,162867,1,3,17,NaN,24,6,0,4,produce,fresh fruits
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2031129,152365,14,1,16,2.0,78,1,1,19,snacks,crackers
4996,2031129,152365,14,1,16,2.0,34,2,0,1,frozen,frozen meat seafood
4997,2031129,152365,14,1,16,2.0,83,3,0,4,produce,fresh vegetables
4998,2031129,152365,14,1,16,2.0,26,4,1,7,beverages,coffee
4999,2031129,152365,14,1,16,2.0,94,5,1,7,beverages,tea

In [12]:
duplicated_ids = df['product_id'][df['product_id'].duplicated()].unique()
sorted(duplicated_ids)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 114,
 115,
 116,
 117,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 133,
 134]

In [13]:
has_duplicates = df['product_id'].duplicated().any()
has_duplicates

True

# üü® 4. SZEKCI√ì ‚Äì Python + PostgreSQL (psycopg2 SELECT √©s feldolgoz√°s)

## √çrj Python f√ºggv√©nyt, ami lek√©ri az √∂sszes produce department rekordot adatb√°zisb√≥l.

In [4]:
def get_produce_records(df):
    result = df[df['department'] == 'produce']
    return result

get_produce_records(df).head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
3,2425083,49125,1,2,18,NaN,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables
10,1944304,162867,1,3,17,NaN,24,2,0,4,produce,fresh fruits
11,1944304,162867,1,3,17,NaN,83,3,0,4,produce,fresh vegetables
14,1944304,162867,1,3,17,NaN,24,6,0,4,produce,fresh fruits

In [1]:
import psycopg2
import yaml

def get_produce_records_sql(yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"):
    try:
        # yaml beolvas√°s
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # Lek√©rdez√©s
        query = "SELECT * FROM consumer_behavior WHERE department = %s LIMIT 1000;"
        cursor.execute(query, ('produce',))
        records = cursor.fetchall()
        cursor.close()
        conn.close()

        return records

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

records = get_produce_records_sql("/home/gdaniel1979/auth/ecommerce.yaml")
records

[(3311293, 70116, 5, 5, 8, 4.0, 24, 2, 1, 4, 'produce', 'fresh fruits'),
 (3311293,
  70116,
  5,
  5,
  8,
  4.0,
  123,
  4,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (3311293,
  70116,
  5,
  5,
  8,
  4.0,
  123,
  5,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (3311293,
  70116,
  5,
  5,
  8,
  4.0,
  123,
  6,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (3311293, 70116, 5, 5, 8, 4.0, 83, 7, 1, 4, 'produce', 'fresh vegetables'),
 (3311293, 70116, 5, 5, 8, 4.0, 83, 8, 0, 4, 'produce', 'fresh vegetables'),
 (3311293, 70116, 5, 5, 8, 4.0, 83, 9, 0, 4, 'produce', 'fresh vegetables'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  1,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 2, 1, 4, 'produce', 'fresh fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  5,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 83, 6, 1, 4, 'produce', 'fresh vegetables'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  7,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 9, 1, 4, 'produce', 'fresh fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 16, 10, 1, 4, 'produce', 'fresh herbs'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 12, 1, 4, 'produce', 'fresh fruits'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  14,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 20, 1, 4, 'produce', 'fresh fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 21, 1, 4, 'produce', 'fresh fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 22, 1, 4, 'produce', 'fresh fruits'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  25,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 83, 27, 1, 4, 'produce', 'fresh vegetables'),
 (853432, 126800, 9, 5, 11, 30.0, 16, 30, 1, 4, 'produce', 'fresh herbs'),
 (853432, 126800, 9, 5, 11, 30.0, 24, 32, 0, 4, 'produce', 'fresh fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 83, 33, 0, 4, 'produce', 'fresh vegetables'),
 (853432,
  126800,
  9,
  5,
  11,
  30.0,
  123,
  34,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (853432, 126800, 9, 5, 11, 30.0, 83, 38, 0, 4, 'produce', 'fresh vegetables'),
 (853432, 126800, 9, 5, 11, 30.0, 83, 39, 1, 4, 'produce', 'fresh vegetables'),
 (1228331,
  18531,
  11,
  6,
  12,
  30.0,
  123,
  3,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1228331, 18531, 11, 6, 12, 30.0, 24, 6, 1, 4, 'produce', 'fresh fruits'),
 (518054, 104149, 18, 0, 12, 3.0, 32, 7, 1, 4, 'produce', 'packaged produce'),
 (518054, 104149, 18, 0, 12, 3.0, 24, 8, 1, 4, 'produce', 'fresh fruits'),
 (518054, 104149, 18, 0, 12, 3.0, 83, 12, 0, 4, 'produce', 'fresh vegetables'),
 (2468333, 91324, 16, 0, 16, 3.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (2468333,
  91324,
  16,
  0,
  16,
  3.0,
  123,
  2,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2468333, 91324, 16, 0, 16, 3.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (2468333, 91324, 16, 0, 16, 3.0, 24, 7, 1, 4, 'produce', 'fresh fruits'),
 (1314252, 109839, 3, 6, 9, 5.0, 24, 10, 0, 4, 'produce', 'fresh fruits'),
 (1314252, 109839, 3, 6, 9, 5.0, 83, 12, 0, 4, 'produce', 'fresh vegetables'),
 (1314252, 109839, 3, 6, 9, 5.0, 83, 13, 0, 4, 'produce', 'fresh vegetables'),
 (1314252, 109839, 3, 6, 9, 5.0, 16, 17, 0, 4, 'produce', 'fresh herbs'),
 (1314252, 109839, 3, 6, 9, 5.0, 83, 21, 0, 4, 'produce', 'fresh vegetables'),
 (1314252, 109839, 3, 6, 9, 5.0, 83, 22, 0, 4, 'produce', 'fresh vegetables'),
 (2670598, 70427, 8, 5, 12, 10.0, 24, 7, 0, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 24, 2, 1, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 24, 12, 1, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 83, 13, 1, 4, 'produce', 'fresh vegetables'),
 (1103191, 95525, 7, 1, 13, 9.0, 83, 14, 1, 4, 'produce', 'fresh vegetables'),
 (1103191, 95525, 7, 1, 13, 9.0, 24, 19, 1, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 24, 20, 0, 4, 'produce', 'fresh fruits'),
 (1103191, 95525, 7, 1, 13, 9.0, 83, 21, 0, 4, 'produce', 'fresh vegetables'),
 (1472969, 111395, 13, 1, 14, 7.0, 24, 18, 0, 4, 'produce', 'fresh fruits'),
 (1472969, 111395, 13, 1, 14, 7.0, 24, 19, 1, 4, 'produce', 'fresh fruits'),
 (3273052, 34917, 10, 0, 13, 8.0, 24, 2, 1, 4, 'produce', 'fresh fruits'),
 (3273052, 34917, 10, 0, 13, 8.0, 24, 3, 0, 4, 'produce', 'fresh fruits'),
 (3273052, 34917, 10, 0, 13, 8.0, 83, 5, 0, 4, 'produce', 'fresh vegetables'),
 (3273052, 34917, 10, 0, 13, 8.0, 24, 6, 1, 4, 'produce', 'fresh fruits'),
 (3239466, 149413, 6, 2, 18, 2.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (3239466,
  149413,
  6,
  2,
  18,
  2.0,
  123,
  5,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (3239466, 149413, 6, 2, 18, 2.0, 83, 15, 0, 4, 'produce', 'fresh vegetables'),
 (268003, 132776, 12, 5, 13, 1.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (268003, 132776, 12, 5, 13, 1.0, 16, 3, 1, 4, 'produce', 'fresh herbs'),
 (268003, 132776, 12, 5, 13, 1.0, 24, 8, 1, 4, 'produce', 'fresh fruits'),
 (268003, 132776, 12, 5, 13, 1.0, 83, 9, 0, 4, 'produce', 'fresh vegetables'),
 (2535459, 122620, 11, 0, 20, 6.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (2535459, 122620, 11, 0, 20, 6.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (2535459, 122620, 11, 0, 20, 6.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (281540, 9837, 2, 3, 19, 5.0, 83, 2, 0, 4, 'produce', 'fresh vegetables'),
 (604799, 141701, 21, 2, 15, 5.0, 83, 1, 1, 4, 'produce', 'fresh vegetables'),
 (604799, 141701, 21, 2, 15, 5.0, 83, 2, 0, 4, 'produce', 'fresh vegetables'),
 (604799, 141701, 21, 2, 15, 5.0, 83, 3, 1, 4, 'produce', 'fresh vegetables'),
 (604799, 141701, 21, 2, 15, 5.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (604799, 141701, 21, 2, 15, 5.0, 24, 5, 0, 4, 'produce', 'fresh fruits'),
 (604799, 141701, 21, 2, 15, 5.0, 24, 6, 0, 4, 'produce', 'fresh fruits'),
 (604799,
  141701,
  21,
  2,
  15,
  5.0,
  123,
  7,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (604799, 141701, 21, 2, 15, 5.0, 24, 9, 1, 4, 'produce', 'fresh fruits'),
 (604799, 141701, 21, 2, 15, 5.0, 16, 16, 1, 4, 'produce', 'fresh herbs'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  123,
  10,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 12, 1, 4, 'produce', 'fresh fruits'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 13, 1, 4, 'produce', 'fresh fruits'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 14, 1, 4, 'produce', 'fresh fruits'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 15, 1, 4, 'produce', 'fresh fruits'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  16,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  18,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  19,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  20,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  32,
  22,
  0,
  4,
  'produce',
  'packaged produce'),
 (1648068, 50012, 24, 2, 10, 30.0, 16, 25, 1, 4, 'produce', 'fresh herbs'),
 (1648068, 50012, 24, 2, 10, 30.0, 24, 28, 1, 4, 'produce', 'fresh fruits'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  29,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  30,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  31,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  123,
  33,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  34,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  35,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1648068,
  50012,
  24,
  2,
  10,
  30.0,
  83,
  36,
  0,
  4,
  'produce',
  'fresh vegetables'),
 (904709, 18286, 8, 6, 10, 10.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (904709, 18286, 8, 6, 10, 10.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (904709, 18286, 8, 6, 10, 10.0, 24, 5, 1, 4, 'produce', 'fresh fruits'),
 (904709, 18286, 8, 6, 10, 10.0, 24, 6, 1, 4, 'produce', 'fresh fruits'),
 (904709, 18286, 8, 6, 10, 10.0, 83, 7, 1, 4, 'produce', 'fresh vegetables'),
 (904709, 18286, 8, 6, 10, 10.0, 24, 12, 0, 4, 'produce', 'fresh fruits'),
 (904709,
  18286,
  8,
  6,
  10,
  10.0,
  123,
  15,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (24531, 13070, 12, 1, 15, 7.0, 83, 4, 1, 4, 'produce', 'fresh vegetables'),
 (24531, 13070, 12, 1, 15, 7.0, 83, 5, 1, 4, 'produce', 'fresh vegetables'),
 (556401, 27063, 11, 2, 19, 23.0, 24, 7, 1, 4, 'produce', 'fresh fruits'),
 (556401, 27063, 11, 2, 19, 23.0, 24, 8, 1, 4, 'produce', 'fresh fruits'),
 (556401, 27063, 11, 2, 19, 23.0, 83, 10, 1, 4, 'produce', 'fresh vegetables'),
 (556401, 27063, 11, 2, 19, 23.0, 24, 17, 0, 4, 'produce', 'fresh fruits'),
 (2411528, 204622, 7, 5, 11, 5.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (2411528, 204622, 7, 5, 11, 5.0, 24, 8, 1, 4, 'produce', 'fresh fruits'),
 (2852748,
  86282,
  11,
  5,
  10,
  11.0,
  123,
  1,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2852748, 86282, 11, 5, 10, 11.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (2852748,
  86282,
  11,
  5,
  10,
  11.0,
  123,
  3,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2852748, 86282, 11, 5, 10, 11.0, 83, 4, 1, 4, 'produce', 'fresh vegetables'),
 (2852748,
  86282,
  11,
  5,
  10,
  11.0,
  123,
  8,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2852748, 86282, 11, 5, 10, 11.0, 24, 9, 1, 4, 'produce', 'fresh fruits'),
 (2852748, 86282, 11, 5, 10, 11.0, 24, 11, 1, 4, 'produce', 'fresh fruits'),
 (2852748,
  86282,
  11,
  5,
  10,
  11.0,
  83,
  12,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (2981120,
  88010,
  19,
  0,
  11,
  6.0,
  123,
  1,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2981120, 88010, 19, 0, 11, 6.0, 16, 2, 1, 4, 'produce', 'fresh herbs'),
 (2981120, 88010, 19, 0, 11, 6.0, 24, 6, 1, 4, 'produce', 'fresh fruits'),
 (2981120, 88010, 19, 0, 11, 6.0, 83, 7, 1, 4, 'produce', 'fresh vegetables'),
 (2981120, 88010, 19, 0, 11, 6.0, 32, 8, 1, 4, 'produce', 'packaged produce'),
 (2981120, 88010, 19, 0, 11, 6.0, 24, 15, 1, 4, 'produce', 'fresh fruits'),
 (1225829,
  54580,
  4,
  4,
  23,
  7.0,
  123,
  6,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1225829,
  54580,
  4,
  4,
  23,
  7.0,
  123,
  7,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1225829, 54580, 4, 4, 23, 7.0, 16, 8, 1, 4, 'produce', 'fresh herbs'),
 (2943575, 174611, 6, 4, 9, 2.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (3282194, 176431, 21, 5, 16, 4.0, 83, 1, 1, 4, 'produce', 'fresh vegetables'),
 (3282194,
  176431,
  21,
  5,
  16,
  4.0,
  123,
  2,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (3282194, 176431, 21, 5, 16, 4.0, 83, 6, 1, 4, 'produce', 'fresh vegetables'),
 (3282194, 176431, 21, 5, 16, 4.0, 24, 7, 1, 4, 'produce', 'fresh fruits'),
 (1860904, 81898, 6, 0, 13, 8.0, 83, 5, 1, 4, 'produce', 'fresh vegetables'),
 (2644161, 54335, 8, 0, 16, 27.0, 24, 2, 1, 4, 'produce', 'fresh fruits'),
 (2644161,
  54335,
  8,
  0,
  16,
  27.0,
  123,
  3,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (2644161, 54335, 8, 0, 16, 27.0, 24, 12, 1, 4, 'produce', 'fresh fruits'),
 (337678,
  176830,
  4,
  0,
  18,
  6.0,
  123,
  1,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (337678, 176830, 4, 0, 18, 6.0, 24, 3, 0, 4, 'produce', 'fresh fruits'),
 (337678, 176830, 4, 0, 18, 6.0, 24, 6, 1, 4, 'produce', 'fresh fruits'),
 (337678, 176830, 4, 0, 18, 6.0, 24, 10, 0, 4, 'produce', 'fresh fruits'),
 (414193, 192135, 20, 2, 9, 15.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (414193, 192135, 20, 2, 9, 15.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (414193,
  192135,
  20,
  2,
  9,
  15.0,
  123,
  4,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (414193, 192135, 20, 2, 9, 15.0, 24, 13, 1, 4, 'produce', 'fresh fruits'),
 (1053424, 39876, 17, 4, 7, 19.0, 24, 7, 1, 4, 'produce', 'fresh fruits'),
 (1053424,
  39876,
  17,
  4,
  7,
  19.0,
  123,
  13,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1053424,
  39876,
  17,
  4,
  7,
  19.0,
  123,
  14,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (9453, 71662, 3, 0, 12, 15.0, 83, 1, 1, 4, 'produce', 'fresh vegetables'),
 (9453,
  71662,
  3,
  0,
  12,
  15.0,
  123,
  2,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (9453,
  71662,
  3,
  0,
  12,
  15.0,
  123,
  3,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (9453, 71662, 3, 0, 12, 15.0, 83, 6, 0, 4, 'produce', 'fresh vegetables'),
 (9453, 71662, 3, 0, 12, 15.0, 83, 8, 0, 4, 'produce', 'fresh vegetables'),
 (9453, 71662, 3, 0, 12, 15.0, 16, 9, 0, 4, 'produce', 'fresh herbs'),
 (3073528, 190624, 5, 2, 14, 30.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (3073528, 190624, 5, 2, 14, 30.0, 24, 2, 0, 4, 'produce', 'fresh fruits'),
 (3073528, 190624, 5, 2, 14, 30.0, 24, 3, 0, 4, 'produce', 'fresh fruits'),
 (3073528, 190624, 5, 2, 14, 30.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (3077941, 183061, 2, 1, 13, 30.0, 16, 1, 0, 4, 'produce', 'fresh herbs'),
 (3077941, 183061, 2, 1, 13, 30.0, 83, 3, 0, 4, 'produce', 'fresh vegetables'),
 (584390, 187646, 14, 1, 15, 10.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (584390, 187646, 14, 1, 15, 10.0, 83, 4, 0, 4, 'produce', 'fresh vegetables'),
 (2035055, 120648, 44, 1, 0, 0.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (2035055, 120648, 44, 1, 0, 0.0, 32, 3, 1, 4, 'produce', 'packaged produce'),
 (2035055, 120648, 44, 1, 0, 0.0, 32, 4, 1, 4, 'produce', 'packaged produce'),
 (2035055, 120648, 44, 1, 0, 0.0, 24, 5, 1, 4, 'produce', 'fresh fruits'),
 (514223,
  81690,
  15,
  6,
  22,
  5.0,
  123,
  2,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 24, 3, 0, 4, 'produce', 'fresh fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 6, 0, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 8, 0, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 9, 0, 4, 'produce', 'fresh vegetables'),
 (514223,
  81690,
  15,
  6,
  22,
  5.0,
  123,
  11,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 24, 12, 0, 4, 'produce', 'fresh fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 13, 0, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 14, 0, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 15, 0, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 16, 1, 4, 'produce', 'fresh vegetables'),
 (514223, 81690, 15, 6, 22, 5.0, 24, 17, 0, 4, 'produce', 'fresh fruits'),
 (514223, 81690, 15, 6, 22, 5.0, 83, 18, 0, 4, 'produce', 'fresh vegetables'),
 (483568, 2347, 4, 3, 10, 30.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (483568, 2347, 4, 3, 10, 30.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (483568, 2347, 4, 3, 10, 30.0, 83, 5, 1, 4, 'produce', 'fresh vegetables'),
 (483568, 2347, 4, 3, 10, 30.0, 24, 6, 0, 4, 'produce', 'fresh fruits'),
 (483568,
  2347,
  4,
  3,
  10,
  30.0,
  123,
  9,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (483568, 2347, 4, 3, 10, 30.0, 24, 10, 0, 4, 'produce', 'fresh fruits'),
 (2759066, 17209, 12, 2, 12, 7.0, 24, 5, 0, 4, 'produce', 'fresh fruits'),
 (1651710, 77597, 15, 3, 15, 20.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 4, 1, 4, 'produce', 'fresh fruits'),
 (1471730,
  15528,
  28,
  1,
  10,
  14.0,
  123,
  6,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 18, 0, 4, 'produce', 'fresh fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 21, 1, 4, 'produce', 'fresh fruits'),
 (1471730,
  15528,
  28,
  1,
  10,
  14.0,
  123,
  22,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 23, 1, 4, 'produce', 'fresh fruits'),
 (1471730,
  15528,
  28,
  1,
  10,
  14.0,
  123,
  35,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1471730, 15528, 28, 1, 10, 14.0, 24, 36, 1, 4, 'produce', 'fresh fruits'),
 (1471730,
  15528,
  28,
  1,
  10,
  14.0,
  123,
  37,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1471730,
  15528,
  28,
  1,
  10,
  14.0,
  123,
  38,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1262869, 34690, 18, 0, 18, 30.0, 83, 6, 1, 4, 'produce', 'fresh vegetables'),
 (1262869, 34690, 18, 0, 18, 30.0, 32, 8, 1, 4, 'produce', 'packaged produce'),
 (1262869,
  34690,
  18,
  0,
  18,
  30.0,
  83,
  15,
  1,
  4,
  'produce',
  'fresh vegetables'),
 (1262869,
  34690,
  18,
  0,
  18,
  30.0,
  123,
  20,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1607496, 16291, 3, 4, 15, 4.0, 24, 1, 0, 4, 'produce', 'fresh fruits'),
 (1607496, 16291, 3, 4, 15, 4.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (1607496, 16291, 3, 4, 15, 4.0, 83, 3, 0, 4, 'produce', 'fresh vegetables'),
 (1607496, 16291, 3, 4, 15, 4.0, 83, 4, 0, 4, 'produce', 'fresh vegetables'),
 (1607496,
  16291,
  3,
  4,
  15,
  4.0,
  123,
  7,
  0,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1607496, 16291, 3, 4, 15, 4.0, 24, 8, 0, 4, 'produce', 'fresh fruits'),
 (839153,
  109241,
  31,
  1,
  14,
  4.0,
  123,
  1,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (839153, 109241, 31, 1, 14, 4.0, 32, 2, 1, 4, 'produce', 'packaged produce'),
 (839153, 109241, 31, 1, 14, 4.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (839153, 109241, 31, 1, 14, 4.0, 32, 5, 0, 4, 'produce', 'packaged produce'),
 (1583135, 166916, 17, 4, 9, 6.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (3321280,
  50092,
  29,
  0,
  16,
  4.0,
  123,
  1,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1577223, 129869, 5, 5, 9, 22.0, 24, 1, 1, 4, 'produce', 'fresh fruits'),
 (2088028, 174199, 1, 1, 11, None, 24, 4, 0, 4, 'produce', 'fresh fruits'),
 (2088028, 174199, 1, 1, 11, None, 83, 6, 0, 4, 'produce', 'fresh vegetables'),
 (2088028, 174199, 1, 1, 11, None, 24, 11, 0, 4, 'produce', 'fresh fruits'),
 (744903, 95929, 5, 5, 19, 19.0, 24, 3, 1, 4, 'produce', 'fresh fruits'),
 (744903,
  95929,
  5,
  5,
  19,
  19.0,
  123,
  4,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (744903,
  95929,
  5,
  5,
  19,
  19.0,
  123,
  10,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 1, 1, 4, 'produce', 'fresh vegetables'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 2, 1, 4, 'produce', 'fresh vegetables'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 3, 1, 4, 'produce', 'fresh vegetables'),
 (1003502,
  72581,
  5,
  6,
  10,
  7.0,
  123,
  5,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1003502,
  72581,
  5,
  6,
  10,
  7.0,
  123,
  9,
  1,
  4,
  'produce',
  'packaged vegetables fruits'),
 (1003502, 72581, 5, 6, 10, 7.0, 24, 10, 1, 4, 'produce', 'fresh fruits'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 11, 1, 4, 'produce', 'fresh vegetables'),
 (1003502, 72581, 5, 6, 10, 7.0, 24, 13, 1, 4, 'produce', 'fresh fruits'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 14, 1, 4, 'produce', 'fresh vegetables'),
 (1003502, 72581, 5, 6, 10, 7.0, 83, 16, 1, 4, 'produce', 'fresh vegetables'),
 (2306036, 185131, 9, 0, 19, 20.0, 24, 6, 0, 4, 'produce', 'fresh fruits'),
 (1587485,
  205796,
  23,
  3,

## √çrj f√ºggv√©nyt, ami visszaadja TOP 5 legt√∂bbet rendelt product_id-t (csak SQL).

In [6]:
import psycopg2
import yaml
import pandas as pd

def get_top5_productid_sql():
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # Lek√©rdez√©s
        query = """
        SELECT product_id, COUNT(product_id) AS cnt 
        FROM consumer_behavior 
        GROUP BY product_id 
        ORDER BY cnt DESC LIMIT 5;
        """
        df = pd.read_sql_query(query, conn)
        conn.close()

        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

records = get_top5_productid_sql()
records

/tmp/ipykernel_3177636/3702174990.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   product_id     cnt
0          24  226039
1          83  212611
2         123  109596
3         120   90751
4          21   61502

## √çrj f√ºggv√©nyt, ami user_id alapj√°n sz≈±r, √©s list√°t ad vissza rendel√©sekr≈ël.

In [10]:
import psycopg2
import psycopg2.extras
import yaml

def get_userid_sql():
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)

        # Lek√©rdez√©s
        query = """
        SELECT * 
        FROM consumer_behavior 
        WHERE user_id < 10000 
        LIMIT 5;
        """
        cursor.execute(query)

        # Eredm√©nyek dic-ek list√°j√°ba
        records = [dict(row) for row in cursor.fetchall()]
        cursor.close()
        conn.close()

        return records

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

records = get_userid_sql()
records

[{'order_id': 236086,
  'user_id': 742,
  'order_number': 3,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 17.0,
  'product_id': 79,
  'add_to_cart_order': 1,
  'reordered': 1,
  'department_id': 1,
  'department': 'frozen',
  'product_name': 'frozen pizza'},
 {'order_id': 236086,
  'user_id': 742,
  'order_number': 3,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 17.0,
  'product_id': 116,
  'add_to_cart_order': 2,
  'reordered': 0,
  'department_id': 1,
  'department': 'frozen',
  'product_name': 'frozen produce'},
 {'order_id': 236086,
  'user_id': 742,
  'order_number': 3,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 17.0,
  'product_id': 91,
  'add_to_cart_order': 3,
  'reordered': 0,
  'department_id': 16,
  'department': 'dairy eggs',
  'product_name': 'soy lactosefree'},
 {'order_id': 236086,
  'user_id': 742,
  'order_number': 3,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 17.0,
  'product_id': 123,
  'add_to_cart_order': 4,
  'reordered': 0,
  'department_id': 4,
  'department': 'produce',
  'product_name': 'packaged vegetables fruits'},
 {'order_id': 236086,
  'user_id': 742,
  'order_number': 3,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 17.0,
  'product_id': 24,
  'add_to_cart_order': 5,
  'reordered': 0,
  'department_id': 4,
  'department': 'produce',
  'product_name': 'fresh fruits'}]

## Sz√°mold ki Pythonban, hogy h√°ny user rendelt legal√°bb 10-szer.

In [11]:
import psycopg2
import yaml
import pandas as pd

def get_10orders_sql():
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # Lek√©rdez√©s
        query = """
        with cte as (
            select distinct user_id, count(order_id) cnt
            from consumer_behavior
            group by user_id
            having count(order_id) > 9
            order by cnt
        ) select count(cnt) from cte;
        """
        df = pd.read_sql_query(query, conn)
        conn.close()

        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

records = get_10orders_sql()
records

/tmp/ipykernel_3177636/1965786556.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   count
0  65842

## √çrj k√≥dot, ami kiszedi azokat az order_id-ket, ahol t√∂bb mint 15 term√©k van.

In [12]:
import psycopg2
import yaml
import pandas as pd

def get_morethan15_sql():
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # Lek√©rdez√©s
        query = """
        SELECT order_id, COUNT(product_id) cnt
        FROM consumer_behavior
        GROUP BY order_id
        HAVING COUNT(product_id) > 15
        ORDER BY cnt DESC
        LIMIT 10;
        """
        df = pd.read_sql_query(query, conn)
        conn.close()

        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

records = get_morethan15_sql()
records

/tmp/ipykernel_3177636/4258713010.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

   order_id  cnt
0    790903  137
1   2621625  109
2    416346  100
3   1031566   95
4   1930316   93
5   2409933   93
6     45973   92
7   2926893   92
8    936852   87
9     70299   83

# üìä 5. SZEKCI√ì ‚Äì Pandas + SQL + elemz√©s

Pandas-szal t√∂ltsd be az SQL t√°bl√°t DataFrame-be (pd.read_sql()).

Nem t√∂lt√∂m be, mert kurva nagy a t√°bl√°zat, lehal a cucc

## department szerint sz√°mold meg a rendel√©seket.

SELECT department, COUNT(DISTINCT order_id) cnt
FROM consumer_behavior
GROUP BY department
ORDER BY cnt DESC;

## sz√°mold meg, ki h√°ny term√©ket rendelt.

SELECT user_id, COUNT(*)
FROM consumer_behavior
GROUP BY user_id;

## √°tlagosan h√°ny term√©k van egy order_id-ben?

WITH cte AS (
    SELECT order_id, COUNT(*) cnt
    FROM consumer_behavior
    GROUP BY order_id)
SELECT ROUND(AVG(cnt), 1)
FROM cte;

## K√©sz√≠ts pivot t√°bl√°t: order_dow √ó department, √©rt√©k = db sz√°m.

In [1]:
import psycopg2
import pandas as pd
import yaml

def pivot_order_dow_department():
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        # Mivel a f√°jlban 'database' kulcs alatt vannak az adatok
        db_config = config['database']

        # Kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        # El≈ësz√∂r lek√©rdezz√ºk az √∂sszes distinct department-et
        query = "SELECT order_dow, department FROM consumer_behavior LIMIT 10000;"
        df = pd.read_sql_query(query, conn)
        conn.close()

        # Pivot t√°bla k√©sz√≠t√©se
        pivot_df = df.pivot_table(
            index = 'order_dow',
            columns = 'department',
            aggfunc = 'size', # COUNT
            fill_value = 0 # ha nincs √©rt√©k, legyen 0
        )

        # Opcion√°lisan vissza√°ll√≠tjuk az oszlop- √©s index neveket a szebb megjelen√©shez
        pivot_df = pivot_df.reset_index().rename_axis(None, axis=1)

        return pivot_df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

pivot_table = pivot_order_dow_department()
pivot_table

/tmp/ipykernel_3183324/1223278613.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,order_dow,alcohol,babies,bakery,beverages,breakfast,bulk,canned goods,dairy eggs,deli,...,household,international,meat seafood,missing,other,pantry,personal care,pets,produce,snacks
0,0,2,18,78,109,28,3,64,321,56,...,37,21,46,8,1,97,20,7,638,145
1,1,8,10,65,179,51,1,64,284,65,...,30,29,32,5,2,107,18,7,551,159
2,2,2,21,51,98,52,1,46,214,44,...,38,9,25,2,1,79,19,11,383,101
3,3,8,6,36,97,28,1,30,169,41,...,19,1,16,2,1,60,8,2,299,76
4,4,12,6,50,108,39,0,40,215,50,...,30,11,31,2,2,65,13,3,299,136
5,5,7,11,53,158,35,4,45,272,38,...,44,10,30,1,1,80,22,2,434,126
6,6,5,17,39,85,17,2,48,204,57,...,40,16,29,1,3,80,9,6,410,92

## Sz≈±rd ki azokat az order_id-ket, ahol csak 1 darab term√©k van.

SELECT order_id, COUNT(*) cnt
FROM consumer_behavior
GROUP BY order_id
HAVING COUNT(*) > 1
ORDER BY cnt;

## Sz√°mold ki, melyik term√©k a leggyakoribb az √∫j (reordered=0) rendel√©sekben.

SELECT product_name, reordered, COUNT(*) cnt
FROM consumer_behavior
GROUP BY product_name, reordered
HAVING reordered = 0
ORDER BY cnt DESC
LIMIT 1;

## Csoportos√≠ts: h√°ny rendel√©s t√∂rt√©nt d√©lut√°n (12‚Äì18 √≥ra k√∂z√∂tt)?

SELECT COUNT(DISTINCT order_id)
FROM consumer_behavior
WHERE order_hour_of_day BETWEEN 12 AND 18;

# ‚öôÔ∏è 6. SZEKCI√ì ‚Äì F√ºggv√©ny√≠r√°s gyakorl√°sa

In [ ]:
# Kernel dies:
import pandas as pd
dfs = []
for chunk in pd.read_csv("ECommerce_consumer_behaviour.csv", encoding='utf-8', sep=',', chunksize=50000):
    dfs.append(chunk)
df = pd.concat(dfs)

In [ ]:
# Kernel dies:
import pandas as pd
df =  pd.read_csv("ECommerce_consumer_behaviour.csv", encoding='utf-8', sep=',', low_memory=False, memory_map=True)

In [ ]:
# Kernel dies
import pandas as pd
dtypes = {
    "order_id": "int32",
    "user_id": "int32",
    "order_number": "int16",
    "order_dow": "int8",
    "order_hour_of_day": "int8",
    "days_since_prior_order": "float32",
    "product_id": "int32",
    "add_to_cart_order": "int16",
    "reordered": "int8",
    "department_id": "int8",
    "department": "category",
    "product_name": "category"
}

df = pd.read_csv(
    "ECommerce_consumer_behaviour.csv",
    sep=",",
    dtype=dtypes,
    low_memory=False,
    encoding="utf-8"
)

In [1]:
import pandas as pd

df = pd.read_csv("ECommerce_consumer_behaviour.csv", encoding='utf-8', sep=',', nrows=500000)
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
0,2425083,49125,1,2,18,NaN,17,1,0,13,pantry,baking ingredients
1,2425083,49125,1,2,18,NaN,91,2,0,16,dairy eggs,soy lactosefree
2,2425083,49125,1,2,18,NaN,36,3,0,16,dairy eggs,butter
3,2425083,49125,1,2,18,NaN,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables

## √çrj f√ºggv√©nyt: get_top_products_by_department(department_name, limit) ‚Üí SQL + Pandas visszaad DataFrame-et.

### psycopg2

In [2]:
import psycopg2
import yaml
import pandas as pd

def get_top_products_by_department(department_name, limit):
    try:
        # yaml beolvas√°s
        yaml_path="/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db_config = config['database']

        # psycopg2-kapcsol√≥d√°s PostgreSQL-hez
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # SQL Lek√©rdez√©s
        query = """
        WITH cte AS (
            SELECT
                department
                ,product_name
                ,COUNT(*) cnt
                ,ROW_NUMBER() OVER(partition by department order by COUNT(*) DESC) rn
            FROM consumer_behavior
            GROUP BY department, product_name)
        SELECT
            department
            ,product_name
            ,cnt
        FROM cte
        WHERE 
            department = %s 
            AND 
            rn <= %s
        ORDER BY department, cnt DESC;
        """

        # Pandas Dataframe-be val√≥ olvas√°s
        df = pd.read_sql_query(query, conn, params=(department_name, limit))
        conn.close()

        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

df_top = get_top_products_by_department("pantry", 5)
df_top

/tmp/ipykernel_3222858/3075449742.py:47: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(department_name, limit))

  department        product_name    cnt
0     pantry  baking ingredients  20137
1     pantry             spreads  18149
2     pantry       oils vinegars  15213
3     pantry          condiments  13760
4     pantry   spices seasonings  13067

### SQLAlchemy

In [4]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def get_top_products_by_department(department_name, limit):
    try:
        # 1. YAML beolvas√°sa
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)

        db = config['database']

        # 2. SQLAlchemy connection string
        conn_str = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@"
            f"{db['host']}:{db['port']}/{db['dbname']}"
        )

        # 3. Engine l√©trehoz√°sa
        engine = create_engine(conn_str)

        # 4. SQL lek√©rdez√©s
        sql = text("""
            WITH cte AS (
                SELECT
                    department,
                    product_name,
                    COUNT(*) AS cnt,
                    ROW_NUMBER() OVER (
                        PARTITION BY department
                        ORDER BY COUNT(*) DESC
                    ) AS rn
                FROM consumer_behavior
                GROUP BY department, product_name
            )
            SELECT
                department,
                product_name,
                cnt
            FROM cte
            WHERE 
              department = :dept
              AND 
              rn <= :lim
            ORDER BY cnt DESC;
        """)

        # 5. Eredm√©ny bet√∂lt√©se DataFrame-be
        df = pd.read_sql(sql, engine, params={"dept": department_name, "lim": limit})

        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt:", e)
        return None

df_top = get_top_products_by_department("dairy eggs", 5)
df_top

   department     product_name    cnt
0  dairy eggs           yogurt  90751
1  dairy eggs  packaged cheese  61502
2  dairy eggs             milk  55150
3  dairy eggs  soy lactosefree  39389
4  dairy eggs             eggs  27986

## √çrj f√ºggv√©nyt, amely megn√©zi egy user t√∂rzsv√°s√°rl√≥-e (legal√°bb 5-sz√∂r ugyanazt a term√©ket rendelte).

### psycopg2

In [9]:
import psycopg2
import pandas as pd
import yaml

def regular_customer():
    try:
        # Authentication
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db_config = config['database']

        # Connecting to database
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )

        cursor = conn.cursor()

        # SQL query
        query = """
        WITH cte AS (
            SELECT
                user_id
                ,product_id
                ,COUNT(*) cnt
                ,CASE WHEN COUNT(*) >= 5 THEN 1 ELSE 0 END AS regular_customer
            FROM consumer_behavior
            GROUP BY user_id, product_id)
        SELECT
            user_id
            ,CASE WHEN SUM(regular_customer) = 0 THEN 'Not regular' ELSE 'Regular' END AS reg
        FROM cte 
        GROUP BY user_id
        ORDER BY user_id;
        """

        # Creating Pandas dataframe
        df = pd.read_sql_query(query, conn)
        conn.close()
        return df

    except Exception as e:
        print("Hiba t√∂rt√©nt", e)
        return None

df_regular_customer = regular_customer()
df_regular_customer

/tmp/ipykernel_3222858/772107008.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        user_id          reg
0             2  Not regular
1             3  Not regular
2             7      Regular
3            10      Regular
4            11  Not regular
...         ...          ...
105268   206204  Not regular
105269   206205  Not regular
105270   206206  Not regular
105271   206208      Regular
105272   206209  Not regular

[105273 rows x 2 columns]

### SQLAlchemy

In [11]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def regular_customer_alch():
    try:
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db = config['database']

        # SQLAlchemy
        conn_str = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['dbname']}"
        )

        # Create engine
        engine = create_engine(conn_str)

        # SQL query
        sql = text("""
            WITH cte AS (
                SELECT
                    user_id
                    ,product_id
                    ,COUNT(*) cnt
                    ,CASE WHEN COUNT(*) >= 5 THEN 1 ELSE 0 END AS regular_customer
                FROM consumer_behavior
                GROUP BY user_id, product_id)
            SELECT
                user_id
                ,CASE WHEN SUM(regular_customer) = 0 THEN 'Not regular' ELSE 'Regular' END AS reg
            FROM cte 
            GROUP BY user_id
            ORDER BY user_id;
        """)
    
        # Loading into dataframe
        df = pd.read_sql(sql, engine)
        return df
        
    except Exception as e:
        print("Hiba:", e)
        return None

df_reg_cust = regular_customer_alch()
df_reg_cust

        user_id          reg
0             2  Not regular
1             3  Not regular
2             7      Regular
3            10      Regular
4            11  Not regular
...         ...          ...
105268   206204  Not regular
105269   206205  Not regular
105270   206206  Not regular
105271   206208      Regular
105272   206209  Not regular

[105273 rows x 2 columns]

## F√ºggv√©ny: sz√°molja ki a reorder ar√°nyt egy adott departmentre.

### psycopg2

In [5]:
import pandas as pd
import psycopg2
import yaml

def get_reorder_rate_by_department_psy(department_name):
    try:
        # yaml
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db_config = config['database']
    
        # Connecting to database via psycopg2
        conn = psycopg2.connect(
            host = db_config['host'],
            port = db_config['port'],
            dbname = db_config['dbname'],
            user = db_config['user'],
            password = db_config['password']
        )
    
        cursor = conn.cursor()
    
        # SQL query
        query = """
        SELECT
          COUNT(*) FILTER (WHERE reordered = 1) AS reordered_count,
          COUNT(*) AS total_count,
          (COUNT(*) FILTER (WHERE reordered = 1))::float / NULLIF(COUNT(*),0) * 100 AS reorder_rate
        FROM consumer_behavior
        WHERE department = %s;
        """

        # Loading result into dataframe
        df = pd.read_sql_query(query, conn, params=(department_name,))
        return df
        
    except Exception as e:
        print("Hiba:", e)
        return None

df_dep_rate_psy = get_reorder_rate_by_department_psy("dairy eggs")
df_dep_rate_psy

/tmp/ipykernel_3248017/105194255.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(department_name,))

   reordered_count  total_count  reorder_rate
0           225798       336915     67.019278

### SQLAlchemy

In [3]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def get_reorder_rate_by_department(department_name):
    try:
        #yaml
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db = config['database']
                
        # Connecting to database via SQLAlchemy
        conn_str = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['dbname']}"
        )

        # Creating engine
        engine = create_engine(conn_str)

        # SQL query
        sql = text("""
        SELECT
          COUNT(*) FILTER (WHERE reordered = 1) AS reordered_count,
          COUNT(*) AS total_count,
          (COUNT(*) FILTER (WHERE reordered = 1))::float / NULLIF(COUNT(*),0) * 100 AS reorder_rate
        FROM consumer_behavior
        WHERE department = :dept;
        """)

        # Loading result into dataframe
        df = pd.read_sql(sql, engine, params = {"dept": department_name})
        return df
        
    except Exception as e:
        print("Hiba:", e)
        return None

df_dep_rate = get_reorder_rate_by_department("produce")
df_dep_rate

   reordered_count  total_count  reorder_rate
0           382425       588996     64.928285

## F√ºggv√©ny: Melyik √≥r√°ban a legnagyobb az es√©lye annak, hogy egy rendel√©s ‚Äûreordered‚Äù lesz?

In [4]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def which_hour_reorder():
    try:
        # yaml
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db = config['database']
        
        # Database
        conn_str = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['dbname']}"
        )
        
        # engine
        engine = create_engine(conn_str)
        
        # query
        sql = text("""
        WITH cte AS (
            SELECT
                order_hour_of_day
                ,COUNT(*) total_order
                ,COUNT(*) FILTER (WHERE reordered = 1) reordered_order
                ,ROUND( 
                    ((COUNT(*) FILTER (WHERE reordered = 1))::float 
                      / NULLIF(COUNT(*),0) * 100)::numeric, 2) AS reorder_rate
            FROM consumer_behavior
            GROUP BY order_hour_of_day)
        SELECT 
            order_hour_of_day
            ,reorder_rate
        FROM cte
        ORDER BY reorder_rate DESC;
        """)
        
        # dataframe
        df = pd.read_sql(sql, engine)
        return df

    except Exception as e:
        print("Hiba:", e)
        return None

df_hour = which_hour_reorder()
df_hour.head(1)

   order_hour_of_day  reorder_rate
0                  7         64.53

## F√ºggv√©ny: TOP 3 term√©k minden departmentben (nested groupby).

In [11]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def top_3_product(department):
    try:
        # yaml
        yaml_path = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(yaml_path, 'r') as f:
            config = yaml.safe_load(f)
        db = config['database']
        
        # sqlalchemy
        conn_str = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['dbname']}"
        )
        
        # engine
        engine = create_engine(conn_str)

        # query
        query = text("""
        WITH cte AS (
            SELECT
                department
                ,product_name
                ,COUNT(*) cnt
            FROM consumer_behavior
            GROUP BY department, product_name),
        cte2 AS
            (SELECT 
                *
                ,ROW_NUMBER() OVER(partition by department order by cnt DESC) rn
            FROM cte)
        SELECT
            department
            ,product_name
            ,rn
        FROM cte2
        WHERE rn <= 3 AND department = :dept;
        """)
        
        # dataframe
        df = pd.read_sql(query, engine, params= {"dept": department})
        return df

    except Exception as e:
        print("Hiba:", e)
        return None

df_top3 = top_3_product('alcohol')
df_top3

  department   product_name  rn
0    alcohol  beers coolers   1
1    alcohol      red wines   2
2    alcohol    white wines   3

## F√ºggv√©ny: vizsg√°lja meg, hogy egy order_id tartalmaz-e duplik√°lt product_id-t, √©s adjon vissza True/False.

In [4]:
import pandas as pd
import yaml
from sqlalchemy import create_engine, text

def has_duplicate(order_id):
    try:
        # yaml
        auth = "/home/gdaniel1979/auth/ecommerce.yaml"
        with open(auth, 'r') as f:
            config = yaml.safe_load(f)
        db = config['database']
    
        # sqlalchemy
        conn = (
            f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['dbname']}"
        )
    
        # engine
        engine = create_engine(conn)
    
        # query
        query = text("""
        SELECT 
            order_id,
            CASE 
                WHEN COUNT(product_id) > COUNT(DISTINCT product_id) 
                THEN true 
                ELSE false 
            END AS has_duplicate
        FROM consumer_behavior
        GROUP BY order_id
        HAVING order_id = :orderid;
        """)
    
        # df
        df = pd.read_sql(query, engine, params={"orderid": order_id})

        if df.empty:
            print(f"Nincs ilyen order_id: {order_id}")
            return None
        return df

    except Exception as e:
        print("Hiba:", e)
        return None

df_has_duplicates = has_duplicate(10)
df_has_duplicates

   order_id  has_duplicate
0        10           True

üéØ 8. SZEKCI√ì ‚Äì Mini adatkutat√≥ projektek

K√©sz√≠ts riportot: "TOP 5 legakt√≠vabb user, r√©szletes bont√°ssal".

Elemezd, hogy melyik napszakban a legmagasabb a reorder ar√°ny (reggel-d√©lel≈ëtt-d√©lut√°n-este kateg√≥ri√°k).

In [ ]:
Fedezd fel, hogy egyes departmentekben van-e szezon√°lis minta order_dow szerint.

K√©sz√≠ts egy "buyer profile" elemz√©st: tipikus produce-v√°s√°rl√≥k milyen m√°s departmentb≈ël v√°s√°rolnak m√©g?

Gener√°lj automatikusan egy sz√∂veges jelent√©st Pythonban, pl.:

"A legt√∂bb rendel√©s vas√°rnap t√∂rt√©nik (23%). A dairy eggs kateg√≥ri√°ban a reorder ar√°ny 61%, ami magasabb az √°tlagos 48%-n√°l. A legakt√≠vabb id≈ëszak d√©lut√°n 15:00 ‚Äì 17:00." (‚Üí print-el jelenjen meg)